<div>
  <button (click)="checkPermissions()">Check the web cam permissions</button>
  <p *ngIf="status">Status here: {{ status }}</p>
</div>
<div
  *ngIf="stream"
  style="display: flex; flex-direction: column; justify-content: center"
>
  <!-- web cam image will be show here -->
  <webcam
    [trigger]="$trigger"
    (imageCapture)="snapshot($event)"
    [imageQuality]="1"
  ></webcam>
  <button (click)="captureImage()">Capture the image</button>
</div>

<!-- Preview section -->
<div *ngIf="previewImage">
  <img [src]="previewImage" width="250" height="250" alt="" />
</div>
